parameters:
	ignoreErrors:
		# Tests verify runtime behavior, PHPStan knows types at analysis time
		-
			message: '#Call to static method .+::assert.+ will always evaluate to true#'
			path: ../../Tests/Unit/Compression/ToolDetectionTest.php
		# Extbase Repository does not require parent constructor call in TYPO3 v12+
		-
			message: '#does not call parent constructor from TYPO3\\CMS\\Extbase\\Persistence\\Repository#'
			path: ../../Classes/Domain/Repository/FileRepository.php
